* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgba(112, 112, 112, 0.192);
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;
}

.btn-guess{
    cursor: pointer;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(255, 176, 176);
    border-radius: 25px;
    transition: 0.3s ease-in;
    margin-top: 15px;
}

.btn-guess:hover{
    opacity: 70%;
}

.popup{
    z-index: 9;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    padding:15px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: none;
}

.audioPlayer{
   display:none;
}

.popup .result{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: baseline;
}
